.feedbackContainer {
  display: flex;
  gap: 15px;
  margin-left: 25px;
}

.feedbackButton {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 700;
  padding: 10px;
  /* text-transform: uppercase; */
}
